.insta {
  min-height: 68vh;

  position: relative;
  background: #fff !important;
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #4b0082;
  -webkit-print-color-adjust: exact;
}

.titulo {
  font-size: 30px;
  width: 100%;
  color: #fff !important;
  border-radius: 5px;
  background: #4b0082;
  padding: 5px;
  margin-bottom: 20px;
}

.buton-timeline {
  margin: 5px;
}

.imagem {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
}

.imagem-comments {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.imagem-posts {
  width: 100%;
  height: auto;
  margin-right: 20px;
}
