.labels {
  color: #add8e6;
  font-size: 16px;
}

.labelsCalculos {
  color: #add8e6;
  font-size: 20px;
}

.titulos {
  color: #add8e6 !important;
}

.notabaixa {
  color: #ffc0cb;
}

.notaalta {
  color: #00ff00;
}

.calculos {
  margin: 20px;
}

.notas {
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #add8e6;
  padding: 15px;
}
