body {
  background-image: linear-gradient(to bottom, #6a5acd, #6a5acd);
}

.input-entrada input {
  color: #800080 !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-entrada label {
  color: #4b0082 !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-container {
  padding: 10px;
  box-shadow: 0 0 4px 4px #4b0082;
}

.input-resultado label {
  color: #800080 !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-resultado input {
  color: #9932cc !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-container-resultado {
  padding: 10px;
  box-shadow: 0 0 4px 4px #800080;
}

.card-container {
  margin-top: 10px !important;
  box-shadow: 0 0 4px 4px #4b0082 !important;
}

.card-container-calculos {
  margin-top: 10px !important;
  box-shadow: 0 0 4px 4px #800080 !important;
}

.titulo {
  font-size: 40px !important;
  color: #4b0082 !important;
}

.titulo-calculos {
  font-size: 40px !important;
  color: #800080 !important;
}

@media (max-width: 576px) {
  .titulo {
    font-size: 25px !important;
    color: #4b0082 !important;
  }
  .titulo-calculos {
    font-size: 25px !important;
    color: #800080 !important;
  }
}
