.galeria {
  min-height: 68vh;
  position: relative;
  background: #7b68ee !important;
  padding: 15px;

  box-shadow: 0 0 4px 4px #4b0082;

  border-radius: 8px;
  -webkit-print-color-adjust: exact;
}

.label-fotos {
  font-size: 25px;
  color: #add8e6;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  margin: 10px 0px;

  background: #4b0082;
  box-shadow: 0 0 4px 4px #add8e6;
  color: #fff;
}

.imagem {
  border-radius: 8px;
  max-height: 500px;
  box-shadow: 0 0 4px 4px #4b0082;
}

.imagem-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes {
  margin: 10px 5px;
}
